# Haskell projects
.stack-work
card-cabal
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Rust project files
Cargo.lock
rust/target/

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Jetbrains files
*.iml                      
java/.idea/
java/.sonar/
java/target/
java/classes/
java-mt/.idea/
java-mt/.sonar/
java-mt/target/
scala/CardRaytracer/.idea/
scala/CardRaytracer/target/
experimental/scala/CardRaytracer/.idea/
experimental/scala/CardRaytracer/target/

